// Primary colors palettes: https://atlassian.design/foundations/color-new/color-palette-new

/* Primary */
:root {
   --primary-500: #388BFF;
   --primary-400: #579DFF;
   --primary-300: #85B8FF;
   --primary-200: #CCE0FF;
   --primary-100: #E9F2FF;
}
