:root {
   /* Dark Surface */
   --surface-1000: #ffffff;
   --surface-900: #e5e5e5;
   --surface-800: #cacaca;
   --surface-700: #b0b0b0;
   --surface-600: #969696;
   --surface-500: #7b7b7b;
   --surface-400: #616161;
   --surface-300: #474747;
   --surface-200: #2c2c2c;
   --surface-100: #121212;

   /* Dark Border */
   --border: #cecece;
}