:root {
   /* Surface */
   --surface-1000: #000000;
   --surface-900: #1a1a1a;
   --surface-800: #353535;
   --surface-700: #4f4f4f;
   --surface-600: #696969;
   --surface-500: #848484;
   --surface-400: #9e9e9e;
   --surface-300: #b8b8b8;
   --surface-200: #d3d3d3;
   --surface-100: #ededed;

   /* Border */
   --border: #313131;
}
